<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {{ if .IsHome }}
    <title>Putter School</title>
    {{ else }}
    <title>{{ .Title }} - Putter School</title>
    {{ end }}
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="description" content="DO WHAT YOU WANT">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Open Graph -->
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="Putter School">
    <meta property="og:description" content="DO WHAT YOU WANT">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ .Site.BaseURL }}apple-touch-icon.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@putterschool">
    <meta name="twitter:creator" content="@nextct">
    <meta name="twitter:title" content="Putter School">
    <meta name="twitter:description" content="DO WHAT YOU WANT">
    <meta name="twitter:image" content="{{ .Site.BaseURL }}apple-touch-icon.png">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Style Sheet -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!--[if lt IE 9]>
    <script src="/assets/js/vendor/polyfills.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 9]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ if .IsHome }}
        <header class="header header--primary is-transparent" role="banner">
    {{ else }}
        <header class="header header--primary" role="banner">
    {{ end }}
        <a href="/">
            <img class="header__logo" src="/assets/images/general/logo-mark-white-64x64.png" width="64" height="64" alt="Putter School Logo">
        </a>
        <nav class="nav nav--horizontal js-nav-dropdown" role="navigation">
            <ol class="list">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main }}
                    <li {{ if $currentNode.IsMenuCurrent "main" . }}class="is-active"{{end}}><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
            </ol>
        </nav>
        <div class="header__cta">
            <p>Secure your place at Putter School <a href="/get-in-touch">Get in touch</a></p>
        </div>
    </header>
