{{ partial "header" . }}

<main class="main" role="main">
    <div class="hero">
        <div class="hero-intro">
            <img src="assets/images/general/logo-white-350x187.png" width="350" height="187" alt="Putter School Logo">
            <h2 class="hN">Do what you want</h2>
            <p class="hero__synopsis">Extramural education for creative teenagers</p>
            <p><a href="/get-in-touch">Get in touch</a></p>
            <div class="hero__action">
                <a href="#learn-more"><span class="icon fa fa-caret-down" aria-hidden="true"></span>Learn more</a>
            </div>
        </div>
        <div class="hero__box">
            <div class="box box--white">
                <div class="box-inner">
                    <h4>Daniel Ting Chong is a Graphic Designer</h4>
                    <p><a href="http://www.danieltingchong.com/" target="_blank">View his work</a></p>
                </div>
            </div>
        </div>
        <div class="hero-feature">
            <div class="hero-feature-wrapper">
                <div class="hero-feature__image">
                    <img src="assets/images/student/daniel-ting-chong-1000x650.jpg" width="1000" height="650" alt="Daniel Ting Chong">
                </div>
            </div>
        </div>
    </div>
    <div class="l-section l-section--blue" id="learn-more">
        <div class="l-wrapper l-wrapper--narrow">
            <div class="box box--white">
                <div class="box-inner">
                    <h2>Grow your creative power!</h2>
                    <div class="row">
                        <div class="col col-1-2">
                            <div class="checklist">
                                <span class="icon fa fa-check" aria-hidden="true"></span>
                                <p>Discover your <a href="#discover-your-passion">creative strengths</a> and use them to change your world</p>
                            </div>
                            <div class="checklist">
                                <span class="icon fa fa-check" aria-hidden="true"></span>
                                <p>Learn with a <a href="#andrew-putter">legendary teacher</a> who’s renowned for nurturing creative minds</p>
                            </div>
                        </div>
                        <div class="col col-1-2">
                            <div class="checklist">
                                <span class="icon fa fa-check" aria-hidden="true"></span>
                                <p>Connect with the <a href="#hall-of-fame">creative leaders</a> of your generation</p>
                            </div>
                            <div class="checklist">
                                <span class="icon fa fa-check" aria-hidden="true"></span>
                                <p>Kickstart your <a href="#kickstart-your-career">creative future</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="l-section__action">
                <a href="#discover-your-passion"><span class="icon fa fa-caret-down" aria-hidden="true"></span>What you'll be doing</a>
            </div>
        </div>
    </div>
    <div class="l-section l-section--blue l-section--short" id="discover-your-passion">
        <div class="l-wrapper l-wrapper--narrow">
            <p>
                <mark class="mark--dark">Explore a variety of creative fields</mark>,
                from conventional to experimental. Follow in the footsteps of your hero or blaze your own trail. Below are some of the many creative disciplines Putter School students have pursued after leaving Putter School. All the work here is by past students!
            </p>
        </div>
    </div>
    <div class="l-section l-section--wide">
        <div class="blocks">
            <div class="block">
                <img src="assets/images/industry/photography-350x350.jpg" width="350" height="350" alt="Photography">
                <span class="block__label">Photography</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/street-art-350x350.jpg" width="350" height="350" alt="Street Art">
                <span class="block__label">Street Art</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/game-design-350x350.jpg" width="350" height="350" alt="Game Design">
                <span class="block__label">Game Design</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/furniture-design-350x350.jpg" width="350" height="350" alt="Furniture Design">
                <span class="block__label">Furniture Design</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/filmmaking-350x350.jpg" width="350" height="350" alt="Film Making">
                <span class="block__label">Film Making</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/fashion-350x350.jpg" width="350" height="350" alt="Fashion">
                <span class="block__label">Fashion</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/sound-design-350x350.jpg" width="350" height="350" alt="Sound Design">
                <span class="block__label">Sound Design</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/communications-350x350.jpg" width="350" height="350" alt="Communications">
                <span class="block__label">Art Direction</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/comic-art-350x350.jpg" width="350" height="350" alt="Comic Art">
                <span class="block__label">Comic Art</span>
            </div>
            <div class="block">
                <img src="assets/images/industry/architecture-350x350.jpg" width="350" height="350" alt="Architecture">
                <span class="block__label">Architecture</span>
            </div>
        </div>
        <div class="l-section__action is-wide">
            <a class="primary" href="#andrew-putter"><span class="icon fa fa-caret-down" aria-hidden="true"></span>Who’s in charge?</a>
        </div>
    </div>
    <div class="l-section l-section--short" id="andrew-putter">
        <div class="l-wrapper">
            <div class="row">
                <div class="col col-1-3">
                    <img src="assets/images/general/putter-portrait-400x400.jpg" width="400" height="400" alt="Andrew Putter">
                </div>
                <div class="col col-2-3">
                    <div class="box">
                        <div class="box-inner">
                            <h2>Andrew Putter</h2>
                            <p>
                                Andrew Putter – affectionately known as “Putter” to his students - is a renowned teacher. Putter’s award-winning teaching 
                                <mark>has launched some of South Africa’s most highly acclaimed professional creatives - who now work all over the world.</mark>
                                He has been at the forefront of teaching creative teenagers since the 1990s, and has taught and lectured at many schools, universities and colleges over the past 30 years.
                                <br/>
                                <br/>
                                <a href="/about">Read more about Putter School</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box--inline">
                <div class="box-inner">
                    <h1 class="hN">Hall of fame</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="l-section l-section--blue l-section--wide l-section--short" id="hall-of-fame">
        <div class="l-wrapper">
            <p>Work by Andrew Putter’s past students. <a href="/hall-of-fame">View all</a></p>
            <div class="row row--tight">
                <div class="col col-1-2">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__link" href="http://danieltingchong.com/1936/5561779/projects/puma-happy-holiday" target="_blank">
                                <span class="icon fa fa-link" aria-hidden="true"></span>
                            </a>
                            <img src="assets/images/student/daniel-ting-chong-600x390.jpg" width="600" height="390" alt="Daniel Ting Chong">
                        </div>
                        <div class="card-inner">
                            <a class="card__title" href="http://danieltingchong.com/1936/5561779/projects/puma-happy-holiday" target="_blank">Daniel Ting Chong</a><span class="card__label">Graphic Designer</span>
                            <p class="card__synopsis">
                                Daniel is a multi-award winning designer whose work has been seen all over the world.
                                His clients include the New York Times, New York Magazine, and Men’s Health, New York.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-1-2">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__link" href="http://www.whoispaulward.com/" target="_blank">
                                <span class="icon fa fa-link" aria-hidden="true"></span>
                            </a>
                            <img src="assets/images/student/paul-ward-600x390.jpg" width="600" height="390" alt="Paul Ward">
                        </div>
                        <div class="card-inner">
                            <a class="card__title" href="http://www.whoispaulward.com/" target="_blank">Paul Ward</a><span class="card__label">Director</span>
                            <p class="card__synopsis">
                                Paul works for the biggest youth brands in Europe, Tokyo, and the USA. Shown here are the
                                portraits he shot for Bread and Butter – the world’s biggest street fashion show in Berlin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row row--tight">
                <div class="col col-1-3">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__link" href="http://www.eshugames.com/fl" target="_blank">
                                <span class="icon fa fa-link" aria-hidden="true"></span>
                            </a>
                            <img src="assets/images/student/maciek-strychalski-450x293.jpg" width="450" height="293" alt="Maciek Strychalski">
                        </div>
                        <div class="card-inner">
                            <a class="card__title" href="http://www.eshugames.com/fl" target="_blank">Maciek Strychalski</a><span class="card__label">Game Designer</span>
                            <p class="card__synopsis">
                                Maciek is a legendary game designer. Featured here is a screen-grab from TOKYO 42, the game he developed in the UK for Mode 7. The game was released on PlayStation, Xbox and Steam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-1-3">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__link" href="http://likelewis.com/" target="_blank">
                                <span class="icon fa fa-link" aria-hidden="true"></span>
                            </a>
                            <img src="assets/images/student/warren-lewis-450x293.jpg" width="450" height="293" alt="Warren Lewis">
                        </div>
                        <div class="card-inner">
                            <a class="card__title" href="http://likelewis.com/" target="_blank">Warren Lewis</a><span class="card__label">Street Artist</span>
                            <p class="card__synopsis">
                                Warren is a renowned street artist and designer. This image of Warren’s has appeared on
                                the world’s top rated websites and blogs, and has been viewed more than 4 million times.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-1-3">
                    <div class="card">
                        <div class="card__media">
                            <a class="card__link" href="http://www.travelground.com/blog/kirstenbosch-botanical-gardens-boomslang-walkway/" target="_blank">
                                <span class="icon fa fa-link" aria-hidden="true"></span>
                            </a>
                            <img src="assets/images/student/christopher-bisset-450x293.jpg" width="450" height="293" alt="Christopher Bisset">
                        </div>
                        <div class="card-inner">
                            <a class="card__title" href="http://www.travelground.com/blog/kirstenbosch-botanical-gardens-boomslang-walkway/" target="_blank">Christopher Bisset</a><span class="card__label">Architect</span>
                            <p class="card__synopsis">
                                Chris is both a filmmaker and an architect. He was Project Architect on the world-famous
                                ‘Boomslang’ Tree Canopy Walkway at Kirstenbosch, and won the coveted Berlin International Film Festival’s ‘Berlin Today Award.’
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-section__action is-wide">
            <a href="#kickstart-your-career"><span class="icon fa fa-caret-down" aria-hidden="true"></span>Kickstart your career</a>
        </div>
    </div>
    <div class="l-section l-section--blue" id="kickstart-your-career">
        <div class="l-wrapper">
            <div class="row">
                <div class="col col-1-3">
                    <div class="info-box">
                        <div class="info-box-header">
                            <span class="info-box__label">1</span>
                            <h2 class="info-box__title">Your future: <br>now!</h2>
                        </div>
                        <div class="info-box-content">
                            <p>Discover what your future looks like while you’re still at school. Turn today’s passion into tomorrow’s brilliant career.
                                <mark class="mark--dark"> Make an awesome portfolio</mark> that opens doors to tertiary study and the professional world. Make your voice heard!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-1-3">
                    <div class="info-box">
                        <div class="info-box-header">
                            <span class="info-box__label">2</span>
                            <h2 class="info-box__title">Find your <br>tribe!</h2>
                        </div>
                        <div class="info-box-content">
                            <p>
                                <mark class="mark--dark">Join forces with the best creative minds</mark> of your generation. The networks you form at Putter School will serve you throughout your future professional life, opening doors and paving your way!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col col-1-3">
                    <div class="info-box">
                        <div class="info-box-header">
                            <span class="info-box__label">3</span>
                            <h2 class="info-box__title">Make good <br>money!</h2>
                        </div>
                        <div class="info-box-content">
                            <p>Experts in fields like industrial design and graphic design are 
                                <mark class="mark--dark">
                                    earning millions of rand a year.
                                </mark>
                                Today, the creative industries drive 25% of the world’s economy!  There’s never been a better time to be a professional creative!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-section__action">
            <a href="#important-info"><span class="icon fa fa-caret-down" aria-hidden="true"></span>Important info</a>
        </div>
    </div>
    <div class="l-section" id="important-info">
        <div class="l-wrapper">
            <div class="row">
                <div class="col col-1-4">
                    <h4>Who can come?</h4>
                    <h3 class="u-weight--normal">Creative teenagers from grade 9 - 12</h3>
                    <h5 class="u-weight--normal">
                        *With exceptions by arrangement.
                    </h5>
                </div>
                <div class="col col-1-4">
                    <h4>Where?</h4>
                    <h3 class="u-weight--normal">Independently on the Rondebosch Boys’ High School campus</h3>
                </div>
                <div class="col col-1-4">
                    <h4>When?</h4>
                    <h3 class="u-weight--normal">Once a week during term-time (Tues, Wed, or Thur)<br> 16:00 - 18:00</h3>
                </div>
                <div class="col col-1-4">
                    <h4>How much?</h4>
                    <h3 class="u-weight--normal">
                        R15,600 a year
                        <br/>
                        = R1,300 a month
                    </h3>
                    <h5 class="u-weight--normal">
                        *One year minimum enrolment period.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="l-section l-section--blue">
        <div class="l-wrapper">
            <div class="cta">
                <div class="box box--white box--inline">
                    <div class="box-inner">
                        <h2 class="hN hN--caps">Do what you want</h2>
                    </div>
                </div>
                <p><a href="/get-in-touch">Get in touch</a></p>
            </div>
        </div>
    </div>
</main>

{{ partial "footer" . }}
